
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
<div margin="50px">
    <form action="Save" method="post">
        <div margin="30px">Name <input name="name" type="Text" margin="20px;"/></div>
        <div  margin="30px">Price <input name="price" type="Text" margin="20px;"/></div>
        <div> <input name="price" type="submit" value="Submid"/></div>
    </form>
</div>

